.settings .header-source-handler {
    display:flex;
    flex-direction: column;
    padding:20px;
}

.settings .header-source-handler .header-source {
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #343C6A;
    margin-bottom: 11px;
}

.settings .header-source-handler .desc-source {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
    color: #343C6A;
    margin-bottom: 12px;
}

.settings .header-source-handler .header-source-handler-buttons {
    display:flex;
    
   
     background: #E1E3F1;
    width: 320px;
    height: 40px;
    border-radius: 4px;
    
}

.settings .header-source-handler .header-source-handler-buttons  button{
    width: 160px;
    height: 40px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #343C6A;
}

.settings .header-source-handler .header-source-handler-buttons button:focus{
    border-radius: 4px;
    color: #FFFFFF;
    background: #4277FF;
}

.settings .header-source-handler .header-source-handler-buttons button:focus{
    border-radius: 4px;
    color: #FFFFFF;
    background: #4277FF;
}

.settings .source-pop-up {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    z-index: 1002;                     /* This value was 1001 for main header */
}

.settings .source-handler {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: rgb(255,255,255);
    /* Added for pop-up select  */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 860px;
    height: 781px;
    transform: translate(-50%, -50%);
}

.settings .source-pop-up-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E1E2EC;
}

.settings .source-pop-up-header div {
    height: 73px;
    display: flex;
    align-items: center;
}

.settings .source-pop-up-header div i {
   margin-left: 20px;
   width: 40px;
   height: 40px;
   background: linear-gradient(270deg, #0CDEAC 0%, #13E17E 80.7%), #54B45C;
   border-radius: 4px;
   
}

.settings .source-pop-up-header div span {
    margin-left: 12.5px;
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #141E46;
}

.settings .source-pop-up-header i {
    width: 36px;
    height: 36px;
    padding: 8.5px 7px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #8586A6;
    background: #EDEEF5;
    font-size: 1.2em;
    border-radius: 50px;
    margin-right: 17px;
}

.settings .source-select-section {
    display: flex;
    flex-direction: column;
    margin-left: 26px;
}

.settings .source-select-section .text-bold{
    font-family: Circular Std;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #141E46;
    margin-top: 22px;
    margin-bottom: 6px;
}

.settings .source-select-section .text-desc{
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #8D8FA8;
    margin-bottom: 22px;
}

.settings .autoComplete input {
    width: 808px;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #C3CAD8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 19px;
}

.suggestions {
    display: flex;
    flex-direction: column;
    width: 808px;
    height:480px;
    overflow:scroll;
}

.suggestions button {
    height: 74px;
    background-color: #F7F7F8;
    border: 1px solid #D7DAE9;
    border-radius: 4px;
    margin: 16px 0px 0px 0px;
    display: flex;
    align-items: center;
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #2C3345;
}

.suggestions button:focus {
    background: #E3EBFF;
    border: 2px solid #5081FF;
    box-sizing: border-box;
    border-radius: 4px;
}

.suggestions .suggestion-icon-first {
    height: 24px;
    width: 24px;
    margin-left: 20px;
    background-color: #0099FF
}

.suggestions .suggestion-title-div {
    height: 74px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    
    margin-left: 13px;
}

.suggestions .suggestion-title-divf {
    font-family: Circular Std;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
margin-top: 16px;   
}

.suggestions button .suggestion-count-span {
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #8D8EAA;
    margin-top: 2px;
}

.settings .source-select-buttons {
    display: flex;
    justify-content: space-between;
    background: #FAFAFC;
}

.settings .source-select-buttons button {
    width: 100px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D4D6E1;
    border-radius: 4px;
    margin:3px 13px;
}

.settings .select-handler{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.select-table-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 12px;
    width: 320px;
    height: 38px;
    background: #E1E3F1;
    border-radius: 4px;
}

.wide-horizontal-line {
    width: 360px;
    height: 0px;
    margin-top: 25px;
    border: 1px solid #E3E5F5;
}

.source-settings-headers {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #343C6A;
}

.source-headers {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin: 12px;
    color: #343C6A;
}

.table-name-info {
    display: flex;
    align-items: center;
    width: 320px;
    height: 38px;
    background: #E1E3F1;
    border-radius: 4px;
    margin-top: 12px;
}

.manuel-listing-cards {
    display: flex;
    margin: 20px 0px;
    width: 320px;
    height: 74px;
    background: #FFFFFF;
    border: 1px solid #C8CEED;
    border-radius: 5px;
}

.manuel-cards-image {
    width: 60px;
    height: 60px;
    margin: 7px 10px 7px 10px;
}

.submission-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    background: #E1E3F1;
    border-radius: 5px 0px 0px 5px;
}

.manuel-listing-info {
    padding: 10px;
    width: 200px;
}

.manuel-info-text {
    height: 20px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.manuel-info-header {
    color: #3086C7;
}

.manuel-info-desc {
    font-size: 14px;
    color: #343C6A;
}

.blue-cog-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0099FF;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: auto 11px auto 10px;
}

.blue-cog {
    color: #FFF;
}

.manual-back-button {
    background: #E1E3F1;
    width: 70px;
    height: 30px;
    border-radius: 4px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-feature-settings: 'liga' off;
    color: #343C6A;


    position: absolute;
    top:-20px;
    right: 10px;
    
    
}

.manual {
    margin-left: 21px;
    padding-top: 21px;
}

.manual-edit-submission {
    position: relative;
}


.font-header-class {
    font-family: Circular Std;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #343C6A;
    margin-top: 16px;
    margin-bottom:12px;
}

.font-description-class {
    font-family: Circular Std;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #343C6A;
    margin-bottom:12px;
}

.image-header-class {
    display: flex;
    flex-direction: column;
}

.manual-inputs {
    width: 320px;
    height: 38px;
}

.manual-inputs-desc {
    height: 150px;
}
.manual .manual-edit-submission .choose-a-file-button {
    margin-top:16px;
    margin-left: 0px;
    margin-bottom: 0px;
}