.settings .heading-text{
    display: flex;
    flex-direction: column;
}

.settings .heading-text .fontManipulation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-around;
}

.settings .heading-text  label{
    margin-top: 7px;
}


.settings .heading-text .fontManipulation .fontManipulation-Color{
    order:2;
    flex: 1px 1px 0px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.settings .heading-text .fontManipulation .fontManipulation-Size{
    order:1;
    flex: 1px 1px 0px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    width: 125px;
}

.settings .heading-text .fontManipulation .fontManipulation-Color input{
    width: 75px;
}