html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Editor  START*/

.editor {
  display: flex;
  justify-content:space-between;
  width: 100%;
  height: calc(100% - 104px);
  overflow-x: hidden;
}

/* Editor END*/
.panel-wrapper {
  /* height: 100%; */
  opacity: 1;
  pointer-events: '';
  transition: opacity 0.75s;
}

.elements {
  /* position: sticky;
  top: 0; */
  /* align-self: flex-start;
  overflow: auto; */
  
  border-right: 1px solid #E3E5F5;
}
.settings {
  /* position: sticky;
  top: 0; */
  /* align-self: flex-start;
  overflow: auto; */
  /* position: absolute;
  right: 0; */
  border-left: 1px solid #E3E5F5;
}
.elements .left-panel-add-button {
  position: absolute;
  background: #FFFFFF;
  margin-top: 36px;
  left: 0px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  white-space: nowrap;
  box-shadow: -1px -1px 3px 2px #c7c5c5;
  transform: translateX(0px);
  transition: transform 0.75s;
}

.elements .left-panel-add-button .add-element-button {
  width: 160px;
  height: 54px;
  white-space: nowrap;
  display: flex;
  justify-content:space-between;
  align-items:center;
  text-align: center;
}

.elements .left-panel-add-button .add-element-button div {
  white-space: nowrap;
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #343C6A;
  margin-left:9px;
}

.elements .left-panel-add-button .add-element-button i {
  width: 16px;
  height: 16px;
  color: #343C6A;
  margin-right: 13px;
}

.settings .right-panel-settings-button {
  position: absolute;
  margin-top: 36px;
  margin-right: 24px;
  right: 0px;
  transform: translateX(0px);
  transition: transform 0.75s;
}

.elements .left-panel-open {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: 360px; 
  background-color: #FFFFFF;
  transform: translateX(-360px);
  transition: transform 0.75s;
}

.settings .settings-panel-open {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: 360px; 
  background-color: #FFFFFF;
  transform: translateX(360px);
  transition: transform 0.75s;
}

.general-settings-panel-open {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 360px; 
  background-color: #FFFFFF;
}

/* Elements  START*/

.leftPanelChild {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.leftPanelChild .addElementSpan {
  display: flex;
  height: 55px;
  cursor: pointer;
  background: #FFFFFF;
}

.leftPanelChild .addElementSpan div {
  font-size: 1.25rem;
  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  padding: 17px 0px 15px 20px;
  color: #343C6A;
}

.leftPanelChild .addElementSpan i {
  margin-top: 19px;
  margin-left :195px;
  width: 20px;
  height: 20px;
  font-size: 1.3em;
  color: #3C3C3C;
}

.leftPanelChild .addElementSpan:hover {
  cursor: pointer;
}

.leftPanelChildSpans {
  display: flex;
  height: 55px;
  justify-content:space-around;

}

.leftPanelChildSpans button {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  background: #E3E5F5;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #6F76A7;
}

.leftPanelChildSpans button:hover {
  background-color: rgb(50, 142, 218);
}

.leftPanelChildSpans button:focus {
  color: #343C6A;
  border-bottom: 4px solid #0099FF;
}

.leftPanelChild .leftPanelElements {
  display: flex;
  flex-direction: column;
}

.leftPanelChild .leftPanelElements li {
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
  /* TODO: UPDATE */
  margin-top: 9px;
  cursor: pointer;
  background-color: #FFFFFF;
}

.leftPanelChild .leftPanelElements li:hover {
  background-color: rgb(138, 195, 238);
  background: rgba(0, 153, 255, 0.2);
  border: 2px solid #0099FF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* Elements  END*/


/* Layout  START*/
.layout {
  /* margin-top: 30px; */
  width: 1480px;
  padding: 10px 20px;
  flex-grow: 0;
  /* border-top: 1px solid rgb(226, 11, 11);
  border-right: 1px solid rgb(226, 11, 11);
  border-left: 1px solid rgb(209, 16, 16); */
  overflow: auto;
}

.webpage {
  width: 1440px;
  padding: 0px;
  overflow: auto;
}

.layout div {
  position: relative;
  padding-right: 20px;
}

.layout .webpage-each-div:hover {
  border: 2px solid rgb(59, 173, 250);
}

.layout .deleteButton {
  position:absolute;
  right: 3px; 
  bottom:50%;
  padding: 7px 16px;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color:#D5322F;
  border: none;
  border-radius: 50px;
}

.layout .deleteButton:hover {
  background-color: #fcfcfc;
  color: rgb(223, 5, 5);
}

.layout .deleteButton:active {
  background-color: #d0d3d0;
  transform: translateY(4px); 
}

.layout .settingsButton {
  position:absolute;
  right: 3px;
  top: 50%;
  padding: 7px 15.5px;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: linear-gradient(270deg, #0CDEAC 0%, #13E17E 80.7%);
  border: none;
  border-radius: 50px;
}

.layout .settingsButton:hover {
  color: #0bb38b ;
  background: rgb(255, 255, 255);
}

.layout .settingsButton:active {
  background-color: #d0d3d0;
  transform: translateY(4px); 
}

/* Layout  END*/

/* Settings  START*/

.settings .right-panel-settings-button .add-element-button {
  width: 54px;
  height: 54px;
  
}

.settings .right-panel-settings-button .add-element-button i {
  font-size: 23px;
  color:#A6A6A6;
  background: #FFFFFF;
  transform: rotate(-45deg);
  padding: 13.5px 13.5px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  box-shadow: -1px -1px 3px 2px #c7c5c5;
}

.settings .settings-tabs {
  display: flex;
  flex-direction: column;
}

.settings .settings-tabs-properties {
  background: #FFFFFF;
  border: 1px solid #E3E5F5;
  display: flex;
  justify-content:space-between;

  font-family: Circular Std;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #343C6A;

  padding-left: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.settings .settings-tabs-properties button {
  margin-right: 18px;
  width: 20px;
  height: 20px;
  color: #6F76A7;
}

.settings .settings-tabs-buttons {
  display: flex;
  height: 55px;
  justify-content:space-around;
}

.settings .settings-tabs-buttons button {
  flex-grow: 1;
  cursor: pointer;
  background: #E3E5F5;
  font-family: Circular Std;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #6F76A7;
}

.settings .settings-tabs-buttons button:hover {
  background-color: rgb(50, 142, 218);
}

.settings .settings-tabs-buttons button:focus {
  color: #343C6A;
  border-bottom: 4px solid #0099FF;
}

hr { 
  display: block; 
  overflow: hidden;
  border-style: inset;
  border-width: 2px;
}

/* Settings  END*/

input, select {
  background: #FBFBFE;
  border: 1px solid #C8CEED;
  border-radius: 2px;
  padding: 10px;
}


.login-form {
  display: flex;
  align-content: center;
  position: absolute;
  flex-direction: column;
  align-items:center;
  width: 380px;
  height: 665px;
  border-radius: 5px;
  left: 50%;
  margin-left: -180px;
  top: 50%;
  margin-top: -332px;
  background-color: #FFFFFF;
  /* transition: height 0.5s, top 0.5s; */
}

.login-form-submit-button {
  position: absolute;
  top: 500px;
  left: 28px;
  height: 48px;
  width: 320px;
  padding: 2px 7px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color:#7ABA25;
  border: none;
  border-radius: 5px;
}

.login-pop-up-background {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,0.5);
  z-index: 1002;     
}

.signed-up-button {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  height: 48px;
  width: 320px;
  border-radius: 2px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}

.signed-up-button > img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.google-button {
  background-color: #1374F0;
  top: 117px;
}

.facebook-button {
  background-color: #4469B0;
  top: 180px;
}

.sign-up-wmail {
  background-color: #FD6220;
  top: 333px;
  left: 28px;
}

.horizontal-line {
  position: absolute;
  top: 261px;
  width: 130px;
  height: 0px;
  border: 1px solid #DEDEDE;
}

.horizontal-line#left-line {
  left: 31px;
}

.horizontal-line#right-line {
  left: 221px;
}

.or-text {
  position: absolute;
  top: 251px;
  left: 178px;
  width: 23px;
  height: 20px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #A6A6A6;
}

.form-input-absolute {
  position: absolute;
  left: 29px;
  font-family: 'Circular Std';
}

#above-login-input {
  top: 317px;
  width: 323px;
  height: 40px;
}

#bottom-login-input {
  top: 403px;
  width: 323px;
  height: 40px;
}

.login-labels {
  color: #2B3345;
}

#above-login-label {
  top: 290px;
}

#bottom-login-label {
  top: 376px;
}

.forgot-text {
  position: absolute;
  width: 107px;
  height: 16px;
  left: 245px;
  top: 444px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #A6A6A6;
}

.change-signed-up {
  color: rgb(0, 119, 255);
  margin-left: 4px;
}

.change-signed-up:hover {
  text-decoration: underline;
}

.welcome-back {
  position: absolute;
  top: 60px;
  height: 32px;
  margin-bottom: 10px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0A1551;
}

.change-mod-text {
  position: absolute;
  top: 588px;
  left: 68px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  text-align: center;
  color: #2B3345;
}

.jotform-logo {
  position: absolute;
  width: 165px;
  height: 30px;
  left: 106px;
  top: 60px;
}

.jotform-logo-header {
  position: absolute;
  height: 20px;
  left: 48px;
  top: 104px;
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #0A1551;
}
